---
import AboutmeSection from '../components/AboutmeSection.astro';
import BlogSection from '../components/BlogSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import FooterPortfolio from '../components/FooterPortfolio.astro';
import HomeSection from '../components/HomeSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ezequiel R - Desarrollador Front End - Typescript - React">
    <main class="flex flex-col items-center justify-center p-4">
      <HomeSection/>
      <ExperienceSection/>
      <ProjectsSection/>
      <AboutmeSection/>
      <BlogSection/>
    </main>
    <FooterPortfolio/>
</Layout>

