---
import AboutmeSection from '../components/AboutmeSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import HomeSection from '../components/HomeSection.astro';
import MySkills from '../components/MySkills.astro';
import ProyectsSection from '../components/ProyectsSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ezequiel Ruciani - Desarrollador Front End - Typescript - Programador">
    <main class="flex flex-col items-center justify-center p-4">
      <HomeSection/>
      <ExperienceSection/>
      <ProyectsSection/>
      <AboutmeSection/>
      <MySkills/>
    </main>
</Layout>

<script>
    const Divs = document.querySelectorAll('section');  // Seleccionamos ambos divs
    const clickEventHandler = () => {
        console.log('tocando section');
    };

    if (Divs.length > 0) {
        Divs.forEach(div => {
            div.addEventListener('click', clickEventHandler);  // Agregamos el listener a cada div
        });
    }
</script>
