---
import AboutmeSection from '../components/AboutmeSection.astro';
import BlogSection from '../components/BlogSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import FooterPortfolio from '../components/FooterPortfolio.astro';
import HomeSection from '../components/HomeSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ezequiel Ruciani - Desarrollador Front End - Typescript - Programador">
    <main class="flex flex-col items-center justify-center p-4">
      <HomeSection/>
      <ExperienceSection/>
      <ProjectsSection/>
      <AboutmeSection/>
      <BlogSection/>
    </main>
    <FooterPortfolio/>
</Layout>

<script>
    const Divs = document.querySelectorAll('section');  // Seleccionamos ambos divs
    const clickEventHandler = () => {
        console.log('tocando section');
    };

    if (Divs.length > 0) {
        Divs.forEach(div => {
            div.addEventListener('click', clickEventHandler);  // Agregamos el listener a cada div
        });
    }
</script>
