---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ezequiel Ruciani - Desarrollador Front End - Typescript - Programador">
    <NavBar/>
    <main>
      <div id="div-de-fondo-1" class="bg-red-600 w-full h-[600px]">
        Hola
      </div>
      <div id="div-de-fondo-2" class="bg-red-300 w-full h-[600px]">
        Hola
      </div>
    </main>
</Layout>

<script>
    const Divs = document.querySelectorAll('#div-de-fondo-1, #div-de-fondo-2');  // Seleccionamos ambos divs
    const clickEventHandler = () => {
        console.log('tocando div');
    };

    if (Divs.length > 0) {
        Divs.forEach(div => {
            div.addEventListener('click', clickEventHandler);  // Agregamos el listener a cada div
        });
    }
</script>
