---
import UserIcon from "./icons/UserIcon.astro";
---

<section
  id="sobre-mi"
  class="py-16 md:py-34 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl flex flex-col gap-2"

>
<h2
class="flex items-center mb-4 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
>
    <UserIcon class="w-8 h-8" />Sobre mí
  </h2>
  <p>
   Comencé mi camino en la programación con la motivación de crear videojuegos,
    y aunque mi trayectoria tomó otro rumbo, descubrí que me gusta el <span
      class="text-light-accent dark:text-dark-accent">desarrollo web</span
    >.
  </p>
  <p>
    Soy una persona que disfruta del intercambio de ideas, lo que me ha llevado
    a <span class="text-light-accent dark:text-dark-accent"
      >participar activamente</span
    > en comunidades de desarrolladores.
  </p>
  <p>
    Hoy en día, estoy enfocado en seguir perfeccionando mis habilidades en <span
      class="text-light-accent dark:text-dark-accent">desarrollo front end</span
    > y contribuir a proyectos donde pueda aplicar mi pasión por la tecnología y
    conocer gente nueva
  </p>
</section>
