<footer
  class="flex flex-col sm:flex-row text-sm w-full items-center justify-center text-gray-600 dark:text-gray-400 flex-wrap space-y-2 sm:space-y-0 sm:space-x-4 py-2"
>
  <p>
    Inspirado en el <a
      href="https://github.com/midudev/porfolio.dev"
      target="_blank"
      class="text-light-accent dark:text-dark-accent"
      aria-label="Ir al portafolio de Midu"
    >MiduFolio</a>
  </p>
  <p>
    Añadidos por mí:  <span class="text-light-primary font-bold dark:text-dark-primary">menú para celular</span>, <span class="text-light-primary font-bold dark:text-dark-primary">Blog</span> y un <span class="text-light-primary font-bold dark:text-dark-primary">carrusel de imágenes de proyectos</span>. Revisa los cambios en <a
      href="https://github.com/Quide1/portfolio"
      target="_blank"
      class="text-light-accent dark:text-dark-accent font-bold"
      aria-label="Ir a mi repositorio"
    >mi repositorio</a>.
  </p>
</footer>
