---
import { type ItemsNavMobileType } from "./NavBar.astro";
import LinkedinIcon from "./icons/LinkedinIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import XIcon from "./icons/XIcon.astro";
import ToggleTheme from "./ToggleTheme.astro";
import HamburgerIcon from "./icons/HamburgerIcon.astro";
import HomeIcon from "./icons/HomeIcon.astro";

interface Props {
  itemsNavBarWithOptional: ItemsNavMobileType;
}
const { itemsNavBarWithOptional } = Astro.props;
---

<div
  class="sm:hidden h-full w-full items-center flex flex-row justify-center rounded-full px-6"
>
  <div class="flex flex-rows items-center justify-center gap-8 w-full px-10 blured py-2">
    <button>
      <HomeIcon class="size-6"/>
    </button>
    <button
      class="font-bold hover:scale-110 hover:text-light-accent dark:hover:text-dark-accent"
      id="open-smart-menu"
      aria-controls="menu-smartphone"
      aria-expanded="false"><HamburgerIcon class="size-6" /></button
    >
  </div>
  <div
    class="hidden fixed top-0 left-0 w-full h-full flex-row justify-center transition-all duration-300 ease-in-out  z-50"
    id="menu-smartphone"
  >
    <div class="w-[10%] h-full bg-black/85 z-50"></div>
    <div
      class="w-[90%] border-blue-600 bg-light-background dark:bg-dark-background font-bold z-50 "
    >
      <div class=" flex flex-col py-6 items-center justify-between">
        <div class="flex w-full items-center justify-end px-4">
          <button id="close-smart-menu" aria-label="Cerrar menú"
            ><XIcon
              class="w-8 h-8 hover:scale-105 hover:text-red-500 transition-all"
            />
          </button>
        </div>
        <ul
          class="flex flex-col w-full gap-6 pt-4 text-xl font-bold items-start px-2"
        >
          {
            itemsNavBarWithOptional.map((e) => (
              <li class="py-2 px-3 hover:text-light-accent dark:hover:text-dark-accent  hover:scale-105 transition-all w-full ">
                <a
                  aria-label={e.id}
                  href={e.link}
                  class="flex flex-row items-center justify-start gap-2 "
                >
                  <span class="w-6 h-6 items-center">
                    <e.icon />
                  </span>
                  {e.label}
                </a>
              </li>
            ))
          }
        </ul>
        <div class="flex flex-col justify-center w-full pt-4">
          <p class="uppercase text-base px-5">Mis redes</p>
          <div class="flex flex-row justify-around items-center w-full py-6">
            <LinkedinIcon
              class="w-8 h-8 hover:scale-110 hover:text-light-accent transition-all dark:hover:text-dark-accent"
            />
            <div>
              <GithubIcon
                class="w-8 h-8 hover:text-light-accent hover:scale-110 transition-all dark:hover:text-dark-accent"
              />
            </div>
          </div>
        </div>
        <div class="flex flex-col justify-center w-full pt-4">
          <p class="uppercase text-base px-5">Cambiar tema</p>
          <div class="flex flex-row justify-around items-center w-full py-6">
            <ToggleTheme />
            <div class="h-4 w-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
