---
import CodeIcon from "./icons/CodeIcon.astro";
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: CodeIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: CodeIcon,
  },
}
const Proyects = [
  {
    name: "Proyecto 1",
    description:"Proyecto 1 es el proyecto 1, que fue realizado con el objetivo de ser el proyecto 1",
    images: [{ src: "https://placehold.co/600x400" }],
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    link:"https://link.com",
    github:"https://github.com"
  },
];
---

<section
  id="proyectos"
  class="py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <h2
    class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white undefined"
  >
    <CodeIcon class="w-8 h-8" />Proyectos
  </h2>
  
</section>
