---
import MoonIcon from "./icons/MoonIcon.astro";
import SunIcon from "./icons/SunIcon.astro";
---

<button
  id="theme-toggle"
  class="flex items-center justify-center relative w-14 h-14  hover:rotate-[15deg] ease-out  transition-all"

>
  <div
    id="dark"
    class="theme-toggle-icon absolute transition-all rounded-lg w-full h-full flex items-center justify-center"
  >
    <div
      class="absolute w-12 h-12 bg-gradient-to-r rounded-full blur-lg opacity-80 z-10 from-blue-500 to-purple-500 "
    >
    </div>
    <MoonIcon class="size-6 z-20"/>
  </div>
  <div
    id="light"
    class="theme-toggle-icon absolute transition-all rounded-lg w-full h-full flex items-center justify-center"
  >
    <div
      class="absolute w-12 h-12 bg-gradient-to-r from-red-500 to-yellow-500 rounded-full blur-lg opacity-80 z-10"
    >
    </div>
    <SunIcon class="size-6 z-20" />
  </div>
</button>


<script>
  const themeToggleButton = document.querySelectorAll("#theme-toggle");
  /** Cambiar tema de la página */
  const currentTheme =
    localStorage.getItem("theme") ||
    (window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light");
  document.documentElement.classList.toggle("dark", currentTheme === "dark");
  document.querySelectorAll(".theme-toggle-icon").forEach((elementFor) => {
    const element = elementFor as HTMLElement;
    element.style.scale = element.id === currentTheme ? "1" : "0";
  });

  const updateIcon = (isDarkMode: boolean) => {
    const themePreference = isDarkMode ? "dark" : "light";

    document.querySelectorAll(".theme-toggle-icon").forEach((element) => {
      const htmlElement = element as HTMLElement;
      htmlElement.style.scale = htmlElement.id === themePreference ? "1" : "0";
    });
  };
  themeToggleButton.forEach((e) => {
    e.addEventListener("click", () => {
      const isDarkMode = document.documentElement.classList.toggle("dark");
      localStorage.setItem("theme", isDarkMode ? "dark" : "light");
      updateIcon(isDarkMode);
    });
  });
</script>
